.result-item-container {
    margin: 40px 20px 10px 20px;
    padding: 10px;

    .button-container {
        width: 100%;
        text-align: end;
    }
    .result-item-content{
        padding: 10px;
    }
}

.loading-results-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .circular-progress{
        margin-bottom: 10px;
    }
}