.comment-input{
    padding: 10px;
    border: 1px solid red;
    .MuiInputBase-inpu{

    }
}
.loading-comments-container{
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}