.home{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    .content{
        width: 70%;
        *{
            margin-bottom: 30px;
        }
        img{
            width: 400px;
        }
    }
}
.home-left{
    .content{
        color: #FFF;
    }
}